/* ! GOOGLE FONTS ! */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ! UNIVERSAL SELECTOR ! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! BODY ! */

body {
    font-family: poppins , open-sans , system-ui;
    overflow-x: hidden;
    /* background-color: #494949; */
}

/* ! NAVBAR ! */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
    border-bottom: 0.5px solid #e5e7eb;
}

.logo p a {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0px 40px;
    color: #6200ff;
    cursor: pointer;
}


.nav-list-container,
.nav-list-container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

a {
    text-decoration: none;
}

ul li a {
    padding: 0px 12px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

ul li a:hover {
    color: rgb(95, 95, 95);
}

.nav-buttons {
    margin: 0px 30px;
}


.nav-buttons a {
    text-transform: capitalize;
    padding: 10px 12px;
    background-color: #8864c4;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    border: 0.1px solid #dadcdf;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.nav-buttons a:hover {
    color: #000;
    background-color: #fff;
    border: 0.1px solid #e5e7eb;
}

.nav-toggle-btn {
    display: none;
    padding: 0px 20px;
    cursor: pointer;
    z-index: 999;
}

.nav-toggle-btn .open {
    display: none;
    font-weight: 900;
    color: #6200ff;
}

.nav-toggle-btn .close {
    display: none;
    color: #fff;
    font-weight: 900;
}


/* ? NAVBAR MEDIA QUERY ?  */


@media (max-width:768px) {

    .navbar {
        position: relative;
    }

    .logo p a {
        font-size: 1.4rem;
    }

    .nav-list-container {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 100vw;
        height: 40vh;
        justify-content: flex-start;
        align-items: center;
        background: rgb(81, 111, 254);
        background: linear-gradient(40deg, #6200ff 0%, rgba(89, 97, 247, 1) 5%, rgba(242, 18, 199, 1) 100%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .nav-list-container {
        flex-direction: column;
    }

    .nav-list-container .nav-lists {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .active ul li a {
        color: #fff;
    }
    .active ul li a:hover {
        color: rgb(230, 228, 228);
        border-bottom: 00.1px solid white;
    }
    
    .active .nav-buttons a {
        background-color: #fff;
        color: #000;
        
    }
    .active .nav-buttons a:hover {
        background-color: rgb(231, 227, 227);
        
    }

    .active .nav-list-container {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        z-index: 999;
    }

    .nav-toggle-btn {
        display: block;
    }

    .nav-toggle-btn .open {
        display: block;
    }

    .active .nav-toggle-btn .open {
        display: none;
    }

    .active .nav-toggle-btn .close {
        display: block;
    }
}

@media (max-width:425px) {
    .logo p a {
        font-size: 1.2rem;
    }
}

@media (max-width:320px) {
    .logo p a {
        font-size: 1rem;
        padding: 0px 10px;
    }
}

/* ! main-blog-container ! */

.main-blog-container{
    display: flex;
}